# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/
var/cache/
var/session/

# Legacy ZF1
demos/
extras/documentation

var/cache/mage--0/

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_FK

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ES

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ES

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_FJ

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_FR

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ET

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_FI

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ET

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_GS

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_EC

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_GB

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_EE

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ES

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_GU

var/cache/mage--0/mage---internal-metadatas---bbb_DB_PDO_MYSQL_DDL_core_config_data_1

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_IM

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ID

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_ID

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_IM

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_zh_Hant_TW_country_IE

var/cache/mage--1/mage---internal-metadatas---bbb_Zend_LocaleC_sr_Latn_RS_country_RS
